.Bash_Environment.tex.swp
Bash_Environment.aux
Bash_Environment.log
Bash_Environment.nav
Bash_Environment.out
Bash_Environment.pdf
Bash_Environment.snm
Bash_Environment.toc
Bash_Environment.vrb
images/
